.image-container {
  position: relative;
  width: 400px; 
  height: 270px;
  margin: 10px;
}

.image-container img {
  display: block; 
  width: 100%;
  height: 100%;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; 
  font-size: x-large;
  transition: opacity 0.3s ease; 
}

.image-container:hover .text-overlay {
  opacity: 1; 
  cursor: pointer;
}

.text-overlay p {
  text-align: center;
}

.inside-icon{
    font-size: 100px;
}