*{
    margin: 0;
    padding: 0;
    /* background-color: blue; */
}

.navbarImage{
    margin-top: 20px;
    margin-left: 150px;
    margin-bottom: 10px;
    width: 55%;
    height: 32%;
}

.nav-link{
    margin-right: 20px;
    color: white;
}

.nav-link:hover{
    color: #EFE204;
}

.main-nav{
    padding-right: 104px;
    background-color: #030E3C;
    
}

